.ag-theme-balham-dark {
    --ag-background-color: #1e1e1e;
    --ag-odd-row-background-color: #1e1e1e;
    --ag-header-background-color: #333;
    --ag-foreground-color: #fff;
    --ag-secondary-foreground-color: #ccc;
    --ag-header-foreground-color: #fff;
    --ag-font-size: 14px;
  }
  